@use 'abstracts/variables' as v;
@use 'abstracts/breakpoints' as b;

body {
	background-color: v.$light-grayish-blue;
}

.article {
	&--moderate-violet,
	&--very-dark-grayish-blue,
	&--very-dark-blackish-blue {
		color: v.$light-gray;
		text-shadow: 1px 1px 2px v.$light-gray-transparent;
	}

	&--moderate-violet {
		background-color: v.$moderate-violet;
		background-image: url('../img/bg-pattern-quotation.svg');
		background-repeat: no-repeat;
		background-position: 89% 0;

		@include b.respond-to('extra-extra-large') {
			background-position: 81.5% 0;
		}
	}

	&--very-dark-grayish-blue {
		background-color: v.$very-dark-grayish-blue;
	}

	&--white {
		background-color: v.$white;
		color: v.$very-dark-grayish-blue;
		box-shadow: 2.5rem 3.75rem 3rem -3rem v.$very-dark-grayish-blue-transparent;

		text-shadow: 1px 0px 2px v.$very-dark-blackish-blue-transparent;
	}

	&--very-dark-blackish-blue {
		background-color: v.$very-dark-blackish-blue;
	}

	&__graduate--light-grey,
	&__text--light-grey {
		opacity: 0.7;
	}

	&__graduate--very-dark-blackish-blue,
	&__text--very-dark-blackish-blue {
		opacity: 0.5;
	}
}

a {
	color: v.$very-dark-grayish-blue;
}
