@use 'abstracts/variables' as v;

.article {
	&__name {
		font-size: v.$fz-130;
	}

	&__graduate {
		font-size: v.$fz-110;
	}

	&__header {
		font-size: v.$fz-190;

		word-spacing: 1em 3em 2em;
		letter-spacing: 0.04rem;
		line-height: 130%;
	}

	&__text {
		font-size: v.$fz-130;

		line-height: 130%;
		word-spacing: 1em 3em 2em;
		letter-spacing: 0.04rem;
	}
}

.footer__wrapper {
	font-size: v.$fz-100;
	text-align: center;
}
