// COLORS
// ### Primary
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);

// ### Neutral
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

// FONT-SIZES
$fz-basic: 62.5%;
// $fz-100: 1rem;
// $fz-110: 1.1rem;
// $fz-130: 1.3rem;
// $fz-140: 1.4rem;
// $fz-150: 1.5rem;
// $fz-160: 1.6rem;
// $fz-180: 1.8rem;
// $fz-220: 2.2rem;
// $fz-260: 2.6rem;
