@use 'abstracts/variables' as v;
@use 'abstracts/breakpoints' as b;
.wrapper {
	display: grid;
	gap: 2.2rem;

	padding: 7rem 2.5rem;

	@include b.respond-to('small') {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: 'a a b c' 'd e e c';
	}
}

.article {
	display: flex;
	flex-direction: column;
	gap: 1.55rem;

	padding: 2.6rem 0 3rem 3.15rem;

	border-radius: 1rem;

	&__box {
		display: grid;
		grid-template-columns: 3rem 1fr;
		grid-template-rows: repeat(2, 1fr);
		gap: 0 1.7rem;
		justify-content: start;
		align-items: center;
	}

	&__img {
		grid-area: 1/1/3/2;

		width: 3.2rem;
		height: 3.2rem;

		border-radius: 50%;
		border: 2px solid v.$light-gray-transparent;
	}

	&__name {
		grid-area: 1/2/2/3;
	}

	&__graduate {
		grid-area: 2/2/3/3;
	}

	&__header {
		padding-right: 3.2rem;
	}

	&__textt--wide-padding {
		padding-right: 4.4rem;
	}

	&__text--narrow-padding {
		padding-right: 3.2rem;
	}
}

@include b.respond-to('small') {
	.grid--violet {
		grid-area: a;
	}

	.grid--grey {
		grid-area: b;
	}

	.grid--white {
		grid-area: d;
	}

	.grid--black {
		grid-area: e;
	}

	.grid--white-longer {
		grid-area: c;
	}
}
