@use 'abstracts/variables' as v;
@use 'abstracts/breakpoints' as b;
.wrapper {
	padding: 7rem 2.5rem;

	@include b.respond-to('extra-extra-large') {
		padding: 16.5rem 16.5rem 10rem;
	}
}

.heading__box {
	position: absolute;
	top: 4.5rem;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}
.article {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 1.55rem;

	padding: 2.6rem 0 3rem 3.15rem;

	border-radius: 1rem;

	@include b.respond-to('extra-extra-large') {
		gap: 1.55rem;

		padding: 2.4rem 0 3.18rem 3.2rem;
	}

	&__img {
	width: 3.2rem;
		height: 3.2rem;

		border-radius: 50%;
		border: 2px solid v.$light-gray-transparent;
	}

	&__header {
		padding-right: 3.2rem;

		@include b.respond-to('extra-extra-large') {
			padding-right: 2.8rem;
		}
	}

	@include b.respond-to(extra-extra-large) {
		&___header--wide-padding {
			padding-right: 3.5rem;
		}
	}

	&__text--wide-padding {
		padding-right: 4.4rem;

		@include b.respond-to('extra-extra-large') {
			padding-right: 2.8rem;
		}
	}

	&__text--narrow-padding {
		padding-right: 3.2rem;

		@include b.respond-to('extra-extra-large') {
			padding-right: 2.9rem;
		}
	}
}
